.dashboard-content {
    margin-top: 5%;
    text-align: center;
    width: 100%;
}

.request-history-button {
    border-radius: 100px;
}

.divider {
    margin: 2% 0% 2% 0%;
}

.notification-pop-up {
    color: white;
    height: 5%;
    padding: 1% 1% 1% 1%;
    display: flex;
}

.notification-message {
    margin-top: 1%;
    width: 90%;
}

.close-notification {
    text-align: center;
    margin-left: 5%;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}