<div class="login-form">
    <form>
        <div class="login-form-field">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email@example.com"
                    (keyup)="invalidEmail = false;"
                    (blur)="onBlur($event, 'email')"
                    name="email"
                    [value]="userEmail">
                <mat-hint *ngIf="invalidEmail">{{ emailErrorMsg }}</mat-hint>             
            </mat-form-field>
        </div>
        
        <div class="login-form-field">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text' "
                    (blur)="onBlur($event, 'password')"
                    [value]="userPassword">
                <button mat-icon-button matSuffix 
                    (click)="hide = !hide">                    
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-hint *ngIf="invalidPassword">{{ passwordErrorMsg }}</mat-hint>             
            </mat-form-field>
        </div>
        
        <div class="login-form-field">
            <mat-button-toggle-group name="userType">
                <mat-button-toggle value="Student" (click)="isUserStudent=true; isUserVolunteer=false; invalidUserType = false;">Student</mat-button-toggle>
                <mat-button-toggle value="Volunteer" (click)="isUserStudent=false; isUserVolunteer=true; invalidUserType = false;">Volunteer</mat-button-toggle>
            </mat-button-toggle-group>
            <p class="user-type-error-message" *ngIf="invalidUserType">
                {{ constant.userTypeError.noselection }}
            </p>
        </div>

        <div class="login-form-field">
            <button mat-raised-button class="submit-button"
                (click)="submitForm()">
                Login
            </button>
        </div>
    </form>
</div>