<div class="login-form">
    <form>
        <p class="login-form-field">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email@example.com"
                    (blur)="onBlur($event, 'email')"
                    name="email"
                    [value]="userEmail">
            </mat-form-field>
            <!-- <app-error-message *ngIf="invalidEmail"
                [errorMessage]="config.emailError.invalidPattern">
            </app-error-message> -->
        </p>
        
        
        <p class="login-form-field">
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text' "
                    (blur)="onBlur($event, 'password')"
                    [value]="userPassword">
                <button mat-icon-button matSuffix 
                    (click)="hide = !hide">                    
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </p>
        
        <p class="login-form-field">
            <mat-button-toggle-group name="userType">
                <mat-button-toggle value="Student" (click)="isUserStudent=true; isUserVolunteer=false;">Student</mat-button-toggle>
                <mat-button-toggle value="Volunteer" (click)="isUserStudent=false; isUserVolunteer=true;">Volunteer</mat-button-toggle>
            </mat-button-toggle-group>
        </p>

        <p class="login-form-field">
            <button mat-raised-button class="submit-button"
                (click)="submitForm()">
                Login
            </button>
        </p>
    </form>
</div>