<mat-sidenav-container class="navigator-container" (window:resize)="onResize($event)">
    <mat-sidenav
        [(opened)]="sideNavOpen"
        [disableClose]="!isMobileDevice"
        [mode]="isMobileDevice ? 'over' : 'side'"
        class="navigator">
    

        <div class="user-name">
            <!-- To be bind with api response -->
            {{ userDetail.name }}
        </div>

        <mat-divider></mat-divider>

        <div class="side-menu">
            <div *ngFor="let option of studentSideOptions">
                <button mat-button class="side-menu-button"
                    (click)="contentWindow = option; closeSideNav()"> {{ option }}</button>
            </div>
        </div>

        <div class="footer-logout">
            <button mat-raised-button class="logout-button"> Logout </button>
        </div>
    
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
        <div class="sidenav-open-close-button" *ngIf="isMobileDevice">
            <button mat-icon-button 
                (click)="openSideNav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <app-dashboard *ngIf="contentWindow === constant.student.DASHBOARD"
            [userDetail]="userDetail"
            [constant]="constant"></app-dashboard>

        <app-profile  *ngIf="contentWindow === constant.student.PROFILE"
            [userDetail]="userDetail"></app-profile>
    </mat-sidenav-content>
</mat-sidenav-container>